!<div class="col-md-10 mx-auto">
    <div class="user-info">

    </div>
   
   
    <div class="my-card mt-3">
        <div class="card paper-item" *ngFor="let paper of paperList">
            <div class="card-body">
            <h2  style="font-family: Comic Sans MS;margin-left: 35%;"><i><b> Papers </b></i></h2>
                <hr>
               
                <h1>{{paper["title"]}}</h1>
                <p><b> Paper Name: {{paper["course"]}}</b> </p>
                <p> <b>Maximum Marks: {{paper["max_marks"]}} </b></p>

                

              <a class="btn btn-primary" [routerLink]="['/solve',paper['_id']]" target="_blank" style="color: black; background-color: white; border-color:black;border-style: solid;">View Paper</a>
                <button class="btn btn-danger" style="margin-left: 1rem;background-color: white;color: black;border-color: black;" (click)="deletepaper(paper['_id'])">
                    <i class="fas fa-trash-alt   " ></i>  
                </button>
                <div class="row">
                    <div class="col">
                        <button mat-icon-button class="example-icon" (click)="togglelink()"
                            aria-label="Example icon-button with share icon">
                            <mat-icon>share</mat-icon>
                        </button>
                        <div class="input-group w-100 mt-3" *ngIf="showlink">
                            <input type="text" class="form-control"
                                [value]="'http://localhost:4200/solve/'+paper['_id']">
                            <div class="input-group-appe`nd">
                                <button class="btn btn-secondary"
                                    [cdkCopyToClipboard]="'http://localhost:4200/solve/'+paper['_id']">
                                    <mat-icon>file_copy</mat-icon>
                                </button>
                            </div>
                        </div>


                    </div>
                </div>

                <h3 class="mt-2"  style="font-family: Comic Sans MS;"><i><b>Responses</b></i></h3>
                <div class="accordion" id="accordionExample">

                    <div class="accordion-item" *ngFor="let answer of paper['answers'];let i=index;">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                [attr.data-bs-target]="'#response'+i" aria-expanded="false" aria-controls="collapseTwo">
                                {{answer['name']}}
                            </button>
                        </h2>
                        <div [id]="'response'+i" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="card-body">
                                 <b>  <p>Student Email : {{answer.email}}</p>
                                    <p>Student Roll No. : {{answer.roll_no}}</p> </b> 
                                </div>
                                <ul class="list-group">
                                    <li class="list-group-item"
                                        *ngFor="let question of answer['data']['data']['questions'];let i = index;">
                                        <p>{{i+1}}. {{question.name}}</p>
                                        <strong>{{question.answer}}</strong>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>