<div class="col-md-10 mx-auto" *ngIf="paperData">
    <div class="card mt-5" style="background-color: rgb(255, 255, 255);">
        <div class="card-body ">
            <h1 class="text-center"  style="font-family: Comic Sans MS;" ><i><b>Solve Paper</b></i>
                </h1>
            <hr>
            <br>
            <div class="row">
                <div class="col-md-6">
                    
                    <b>Paper Name : </b>{{paperData.title}}
                </div>
                <div class="col-md-6">
                    <b>Max Marks : </b>{{paperData.max_marks}}
                </div>
            </div>

            <div class="row mt-5" >
                <div class="col-md-6">
                    <b>Course : </b>{{paperData.course}}
                </div>
                <div class="col-md-6">
                    <b>Description : </b>{{paperData.description}}
                </div>
            </div>

            <div class="card mt-5"  style="background-color: rgba(255, 255, 255, 0);">

                <div class="card-body">
                    <h4  style="font-family: Comic Sans MS;" ><i><b>Student Details</b></i></h4>
                    <hr>
                    <form [formGroup]="solutionForm">
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field class="w-100 mt-30" appearance="outline">
                                    <mat-label>Email</mat-label>
                                    <input matInput formControlName="email">
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field class="w-100 mt-30" appearance="outline">
                                    <mat-label>Name</mat-label>
                                    <input matInput formControlName="name">
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field class="w-100 mt-30" appearance="outline">
                                    <mat-label>Course Name</mat-label>
                                    <input matInput formControlName="course">
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field class="w-100 mt-30" appearance="outline">
                                    <mat-label>Roll No.</mat-label>
                                    <input matInput formControlName="roll_no">
                                </mat-form-field>
                            </div>

                        </div>
                    </form>
                </div>
            </div>  
            <div *ngFor="let question of paperData.data.questions;let i = index">
                <p style="font-size: 1.3em;" class="question mt-4"><b>{{i+1}}. </b>{{question.name}}</p>
                <div *ngIf="question.answertype == 'text'">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Your Answer</mat-label>
                        <input type="text" matInput [(ngModel)]="question.answer">
                    </mat-form-field>
                </div>
                <div *ngIf="question.answertype == 'radio'">

                    <mat-radio-group class="" [(ngModel)]="question.answer">
                        <div class="row">
                            <div class="col-md-4" *ngFor="let option of question.options">
                                <mat-radio-button class="" [value]="option.text">
                                    {{option.text}}

                                </mat-radio-button>
                            </div>
                        </div>

                    </mat-radio-group>
                </div>
                <div *ngIf="question.answertype == 'checkbox'">
                    <div class="row">
                        <div class="col-md-3" *ngFor="let option of question.options">
                            <mat-checkbox class="" (change)="setOption(i, option.text)">
                                {{option.text}}
                            </mat-checkbox>
                        </div>
                    </div>
                    
                </div>
            </div>
            <button class="mt-5" mat-raised-button color=white style="border-color: black;border-style: solid;" (click)="submitPaper()">Submit Paper</button>
        </div>
    </div>
</div>