
 <div class="col-md-8 mx-auto">
    <div class="card mt-5">
      <img class="card-img-top" src="https://th.bing.com/th/id/R.4ee6681864ae318edfbdfe209e8240bb?rik=h5AXj%2b1sH1%2bEOw&riu=http%3a%2f%2fpavbca.com%2fwalldb%2foriginal%2fc%2f4%2ff%2f386426.jpg&ehk=vDLQ291Sqav5YJyV66zDMoMo9K%2bERUVJkCuZVT6YDYM%3d&risl=&pid=ImgRaw">
    <div class="card-body" style="padding: 3rem;">
        <form [formGroup]="PaperDetails" (ngSubmit)="submitForm()" >
            <h2 class="text-cener">Add New Question Paper</h2>
            <hr class="mb-5">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>
                Title
              </mat-label>
              <input type="text" formControlName="title" matInput>
            </mat-form-field>


            <mat-form-field appearance="outline" class="w-100">
              <mat-label>
                Descrption
              </mat-label>
              <textarea type="text" formControlName="description" matInput>
                </textarea>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
              <mat-label>
                course
              </mat-label>
              <input type="text" formControlName="course" matInput>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
              <mat-label>
              max_marks
              </mat-label>
              <input type="text" formControlName="max_marks" matInput>
            </mat-form-field>
     
            <button class =" mt-5 btn btn-success w-100">Submit</button>
        </form>




    </div>
</div>

  <div class="card mt-5">
    <div class="card-body" style="padding: 3rem;">

      <div class="mt-4" *ngFor="let question of QuestionPaper.questions;let i = index">
        <div>
    
          <div class="row">
            <div class="col-md-9">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Question {{i+1}}:</mat-label>
                <input type="text" [(ngModel)]="question.name" matInput>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Answer Type</mat-label>
                <mat-select [(ngModel)]="question.answertype" (selectionChange)="setOptions($event, i)">
                  <mat-option *ngFor="let type of questionTypes" [value]="type">
                    {{type}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
    <div class="option" *ngIf="question.answertype != questionTypes[0]">
            <mat-form-field appearance="outline" class="d-block w-50" *ngFor="let option of question.options;let oi = index">
              <mat-label>Option {{oi+1}}:</mat-label>
              <input type="text" [(ngModel)]="option.text" matInput>
            </mat-form-field>
            <button class =" mt-3 btn btn-success" (click)="addOption(i)">Add New</button>
          </div>
          
        </div>
        <hr>
      </div>

      
      <button (click)="addQuestion()" class =" mt-5 btn btn-success">Add New Question</button>

    </div>
  </div>




          

</div>
