<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
     
    
</head>
<body>
    
    <style>
        body {
          background-image: url('/assets/impimp.jpg') ;
          background-size: cover;
      background-attachment: fixed;
      
        }
      </style> 
     
            
    <div class="box" style="background-color: rgba(255, 255, 255, 0.144) ; border-style: solid;border-bottom-color: black;border-top: white;border-left:white;border-right: white; padding: 30px; width: 100%;height: 650px;">
    
    <h1 style=" font-family: Comic Sans MS;    margin-top: 202px;font-size: 4vw;margin-left: 650px;color: rgba(64, 224, 208, 0.938);">
      <b>Online    
      </b>
    </h1>
    <h1 style="font-size: 4vw;margin-left: 750px;color:rgb(241, 239, 239);font-family: Comic Sans MS;  "><b>Examination Platform</b> 
    </h1>
    
    
    
    </div>
    <div class="container" style="background: black;background-size: cover;max-width: 100%;
    background-attachment: fixed;">
    <table >
    <tr>
      <td>
    <div class=addpaper style="margin-top: 50px; width: 280px;height: 350px;  margin-left: 200px; padding: 25px; background-color: white;;margin-bottom: 50px;border-style: solid;border-radius: 15px;">
    <h3 >
    <i>
     <b>
      Add Paper
     </b>
    
    </i> 
    </h3>
   
    <hr>
    <h5 style="font-family: Comic Sans MS; ">This component allows the user to design a question paper as per his/her choice.</h5>
    </div>
      </td>
      <td >
    <div class="manage" style="margin-top: 50px; width: 280px;height: 350px;   padding: 25px;  background-color:white;margin-left: 150px;margin-bottom: 50px;border-style: solid;border-radius: 15px;">
    
    <h3 >
      <i>
        <b>
        Manage Paper
        </b>
       
      </i> 
    </h3>
     <hr>
     <h5 style="font-family: Comic Sans MS; ">This component allows the user to manage the question papers created by him/her.</h5>
     <h5 style="font-family: Comic Sans MS;" >This component contains responses collected.</h5>
    </div>
      </td>
      <td>
    <div class="solve" style="margin-top: 50px;width: 280px;height:350px; padding: 25px;  background-color: white;margin-left: 150px; margin-bottom: 50px;border-style: solid;border-radius: 15px;">
    
    <h3 >
      <i>
        <b>
       Solve Paper
        </b>
       
      </i> 
     </h3>
     <hr>
     <h5 style="font-family:Comic Sans MS; ">This component contains the question paper whose link will be sent to collect the responses in manage paper component.</h5>
    </div>
      </td>
    
    </tr>
    <tr>
      <td><hr style="color: white;width: 80%;margin-left: 170px;"> </td>
      <td><hr style="color: white;width: 80%;margin-left: 140px"> </td>
      <td><hr style="color: white;width:80%;margin-left: 140px"> </td>
    </tr>
   
     
    </table>
    
    <h6 style="color: white;margin-left: 47%;font-size: smaller;">Created by -Adiba Khan</h6> 
    <br>
    </div>
</body>
</html>